#offers {
    margin-top: 60px;
    display: none;
}

#offers_list {
    margin: 60px auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

#details {
    margin: 60px auto;
    width: 70%;
    text-align: center;
}

#offers_list tr td, #offers_list tr th {
    padding: 1em;
}

#offers_list tr th {
    background: #54b17d;
    color: white;
}

#offers_list tr:nth-child(odd) td {
    background: #9cd3b4;
}

#offers_list tr:nth-child(even) td {
    background: #abd5bd;
}

.btn {
    transition: background-color .3s;
    min-width: 60px;
    border-radius: .5em;
    padding: .7em;
    color: white;
    cursor: pointer;
}

.btn-green {
    background: #06cb06;
    border: 1px solid #08b308;
}


.inptBar {
    display:inline-block;
    position: relative;
    margin-top: 15px;
}
.inptBar:before {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    top:10px;
    left: -35px;
    font-size: 2em;
}
#search
{
    display: grid;

}

.btn-green:hover {
    background: #08b308;
}

.btn-green:active {
    background: #0d930d;
}

.btn-red {
    background: #eb2c2c;
    border: 1px solid #b71b1b;
}

.btn-orange {
    background: #FF8C00;
    border: 1px solid #D2691E;
}

.btn-red:hover {
    background: #b71b1b;
}

.btn-red:active {
    background: #891515;
}

#buttons form {
    display: inline;
}
