#offers {
    margin-top: 60px;
    display: none;
}

#offers_list {
    margin: 60px auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

#details {
    margin: 60px auto;
    width: 70%;
    text-align: center;
}

#offers_list tr td, #offers_list tr th {
    padding: 1em;
}

#offers_list tr th {
    background: #54b17d;
    color: white;
}

#offers_list tr:nth-child(odd) td {
    background: #9cd3b4;
}

#offers_list tr:nth-child(even) td {
    background: #abd5bd;
}

.btn {
    transition: background-color .3s;
    min-width: 60px;
    border-radius: .5em;
    padding: .7em;
    color: white;
    cursor: pointer;
}

.btn-green {
    background: #06cb06;
    border: 1px solid #08b308;
}


.inptBar {
    display:inline-block;
    position: relative;
    margin-top: 15px;
}
.inptBar:before {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    top:10px;
    left: -35px;
    font-size: 2em;
}
#search
{
    display: grid;

}

.btn-green:hover {
    background: #08b308;
}

.btn-green:active {
    background: #0d930d;
}

.btn-red {
    background: #eb2c2c;
    border: 1px solid #b71b1b;
}

.btn-orange {
    background: #FF8C00;
    border: 1px solid #D2691E;
}

.btn-red:hover {
    background: #b71b1b;
}

.btn-red:active {
    background: #891515;
}

#buttons form {
    display: inline;
}

/*  here is the autocomplete css part
 @source code : https://www.w3schools.com/howto/howto_js_autocomplete.asp
 */

* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
