#offers {
    margin-top: 60px;
    display: none;
}

#purchases_list {
    margin: 60px auto;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}

#purchases_list tr td, #purchases_list tr th {
    padding: 1em;
}

#purchases_list tr th {
    background: #54b17d;
    color: white;
}

#purchases_list tr:nth-child(odd) td {
    background: #9cd3b4;
}

#purchases_list tr:nth-child(even) td {
    background: #abd5bd;
}

.btn {
    transition: background-color .3s;
    min-width: 60px;
    border-radius: .5em;
    padding: .7em;
    color: white;
    cursor: pointer;
}

.btn-green {
    background: #06cb06;
    border: 1px solid #08b308;

}

.btn-green:hover {
    background: #08b308;
}

.btn-green:active {
    background: #0d930d;
}

.btn-red {
    background: #eb2c2c;
    border: 1px solid #b71b1b;
}

.btn-red:hover {
    background: #b71b1b;
}

.btn-red:active {
    background: #891515;
}
